:root {
  /* ===== Colors ===== */
  
  --color1: rgb(70,68,104, 0.9);
  --color2: rgb(157, 36, 73);
  --dark-color: rgba(42,40,77, 0.9);
  --primary-color: rgba(232, 217, 203,0.9);
  --secondary-color: rgba(182, 137, 92, 0.9);
  --light-color: rgba(240, 240, 240,1);
}


*{
  /* color: var(--text-color) !important; */
  /* font: 600 16px/18px 'Open Sans', sans-serif; */
}

.App {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body-container{
  background-color: var(--text-color);
  min-height:calc(100vh);
  padding-top:80px;
  color: var(--dark-color) !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes ldio-mv6twaaf4n {
  0% { opacity: 1 }
  100% { opacity: 0 }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
