:root {
  /* ===== Colors ===== */
  
  --color1: rgb(134,43,254);
  --color2: rgb(176, 106, 252);
  --dark-color: rgb(33,32,66);
  --primary-color: rgba(42,40,77, 0.9);
  --secondary-color: rgba(70,68,104, 0.9);
  --primary-color-light: rgba(152, 152, 165, 0.9);
  --text-color: rgba(240, 240, 240,0.8);

  /* --body-color: ##E8F5FB; */
  /* --sidebar-color: #DBDCDE; */
  /* --toggle-color: rgb(250, 245, 245); */
  /* --selected-color: rgba(105, 92, 254, 0.3);
  --active-color: rgba(42,40,77, 0.9);
  --nav-var-color: rgba(73, 208, 208,0.98);
  --height-nav-bar: 60px; */
}


*{
  color: var(--text-color) !important;
  /* font: 600 16px/18px 'Open Sans', sans-serif; */
}

.App {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes ldio-mv6twaaf4n {
  0% { opacity: 1 }
  100% { opacity: 0 }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
