.container-fluid{
    padding: 0px;
} 

.navbar{
    background-color: var(--color2);
    padding: 0px;
    --bs-navbar-color: var(--light-color);
    --bs-navbar-hover-color: var(--dark-color);
    --bs-navbar-active-color: var(--light-color)

}
.nav-item a{
    color: var(--light-color) !important;
}

.nav-item .active, .nav-item.active{
    border-bottom: solid 3px var(--primary-color);
}

.navbar-collapse{
    padding: 5px;
    padding-right: 20px;
}

.navbar-toggler{
    margin: 5px !important;
}

.dropdown-menu{
    margin-top: 5px;
    background-color: var(--color1);
}
.dropdown-item a{
    text-decoration: none;
}
.dropdown-item:hover{
    background-color: var(--color2);
}

.img-logo{
    background-color: var(--light-color);
    height: 40px;
    border-radius: 5px;
}

.btn-bg{
    background-color:  var(--secondary-color);
}

.btn-bg:hover{
    background-color:  var(--color1);
}

@media (max-width: 768px){
    .navbar-collapse{
        background-color: var(--secondary-color);
        padding-right: 5px;
    }
}